dn: erglobalid=$erglobalid4User,ou=0,ou=people,erglobalid=00000000000000000000,ou=crrc,dc=com
erpersonpassword: UAIT7HViwBBUywjbFukRog==
ercreatedate: 201604280547Z
givenname: $uid
sn: $uid
departmentnumber: 01000202
ersharedsecret: P@ssw0rd
mail: $uid@cnr.com
objectclass: top
objectclass: inetOrgPerson
objectclass: erManagedItem
objectclass: organizationalPerson
objectclass: person
objectclass: erPersonItem
uid: $uid
erglobalid: $erglobalid4User
cn: $uid
employeenumber: $uid
title: admin
erparent: erglobalid=6881568002255272470,ou=orgChart,erglobalid=00000000000000
 000000,ou=crrc,dc=com
erpswdlastchanged: 201604290103Z
ersynchpassword: 3IAiB1pjnZBRtX0Bhz/RDQ==
erlastmodifiedtime: 201604290104Z
erlaststatuschangedate: 201604290104Z
erpersonstatus: 0

dn: eruid=$uid,ou=systemUser,ou=itim,ou=crrc,dc=com
eruid: $uid
owner: erglobalid=$erglobalid4User,ou=0,ou=people,erglobalid=00000000000000
 000000,ou=crrc,dc=com
objectclass: top
objectclass: erAccountItem
objectclass: erManagedItem
objectclass: erSystemUser
erservice: erglobalid=00000000000000000002,ou=services,erglobalid=000000000000
 00000000,ou=crrc,dc=com
erchangepswdrequired: false
erhistoricalpassword:: AEVTSEEtMjU2OmJHOHllWG8wYjNKMmJHaDA6bjdtNlhyc0pXUGJYN0
 taazRmNzREdUd2ZkFHS1NkMm5xbVRNQk5Pc1phbz1TSEEtMjU2OlpISXdOV1J0YlRadVptWnU6YW
 52RWNzTzBqOHp3KzF2c1BSSGJLamVpck9IczUvcmd0TmgyNmxGcjU4MD0=
erhistoricalpassword:: AUVTSEEtMjU2OmFtMXlkWFk1YlhwdU5HaHA6OUJwR0Jsc2ZIL2hpWj
 JxeUZGWEVORUJvbUgwUFg0V3BzRmJONjNBazU1RT1TSEEtMjU2OllUVTVjbTR3YTJodWVIazE6cm
 RVcVZxK0UwNE9FcVhlblFZb25VOWFoMVl1eVl1VjdXN2QzZlh6RWc0QT0=
erpassword: SHA-256:MTM2bHVzNHMyMmVs:Sxyvw17qVtU8z02Z3X0GSxUYdemIf2KpDHO/12hVH
 j4=
erpasswordlastchangedby: erglobalid=00000000000000000007,ou=0,ou=people,erglob
 alid=00000000000000000000,ou=crrc,dc=com
erpswdlastchanged: 201604290103Z
erlostpasswordanswer:: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48Q2
 hhbGxlbmdlUmVzcG9uc2VTZXQ+PENoYWxsZW5nZVJlc3BvbnNlIENoYWxsZW5nZT0iV2hlcmUgYX
 JlIHlvdSBmcm9tPyIgUmVzcG9uc2U9IlNIQS0yNTY6Y25sbGFuaHJlV1UwYmpkbjpsQnpQUHY5SV
 pIQlZCS080Q00reFBTQlNyWVlzOFpLdE10YWcxR3p3dnk0PSIvPjwvQ2hhbGxlbmdlUmVzcG9uc2
 VTZXQ+
erresplastchange: 201604290105Z
eraccountstatus: 0
erlastaccessdate: 201605120824Z
ernumlogonattempt: 0

